language: php

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - wget http://get.sensiolabs.org/php-cs-fixer.phar
  - composer self-update

install:
  - travis_retry composer install --no-interaction --ignore-platform-reqs

script:
  - (cd tests ; ../vendor/bin/phpunit -c phpunit.xml)

matrix:
  fast_finish: true
  include:
    - php: 5.5
    - php: 5.6
    - php: 7
    - php: hhvm
  allow_failures:
    - php: hhvm
    - php: 7
