<phpunit bootstrap="./test/bootstrap.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 verbose="true"
		 stopOnFailure="false"
		 processIsolation="false"
		 backupGlobals="false"
		 syntaxCheck="true"
		>
	<testsuites>
		<testsuite name="Cuit Test Suite">
			<directory>./test/CuitTest</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../src</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-text" target="php://stdout"/>
		<log type="coverage-clover" target="../build/logs/clover.xml"/>
	</logging>
</phpunit>